doctype html
//- dzieki mixinom mozna tworzyc taki szablon do wykozystania
mixin item(title, url)
  li  
    a(href=url class=path == url ? 'active' : "")=title
//- sprawdza czy url jest taki sam jak sciezka nprzyklad sciezka
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    ul
      +item('strona Glowna', '/')
      +item('database', '/database')
      span=path
    block content
    //- block content to reszta strony
